@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@200;400;700;900&family=Nanum+Gothic+Coding&display=swap");
@import "./reset.css";

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Piazzolla", "Nanum Gothic Coding", serif;
}

.phone-body {
  width: 400px;
  height: 800px;
  border: none;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightsalmon;
}

.header {
  width: 100%;
  height: 100px;
  color: white;
  font-size: 28px;
  font-weight: 200;
  border-radius: 30px 30px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 40px;
  background-color: rgba(255, 255, 224, 1);
  height: 500px;
  line-height: 2em;
  font-size: 20px;
  overflow-y: scroll;
}

.form {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 30px 30px;
}
input {
  display: block;
}

input[type="text"] {
  width: 90%;
  height: 40px;
  border: none;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 4px 8px;
  border-radius: 5px;
  opacity: 0.8;
  font-family: "Piazzolla", "Nanum Gothic Coding", serif;
}

input[type="text"]::placeholder {
  opacity: 0.5;
}

input[type="button"] {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: salmon;
  color: white;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}

input[type="button"]:active {
  animation: clickAnim 300ms infinite;
}

@keyframes clickAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
    transform: translateY(0.98);
  }
  100% {
    transform: scale(1);
  }
}

li {
  display: flex;
  justify-content: space-between;
}

.list li button {
  transition: all 150ms ease-in;
}
.list li button:hover {
  color: rgba(255, 0, 0, 0.7);
  transform: scale(1.1);
}
